.footer {
  padding: 15rem 0;
  background: $color-gray-dark-3;
  font-size: 1.3rem;

  &__logo-box {
    text-align: center;
    margin-bottom: 10rem;
  }

  &__logo-img {
    height: 10rem;
  }

  &__list {
    list-style: none;
    border-top: 1px solid $color-gray-dark-2;
    padding-top: 2rem;
    display: inline-block;

    @include responsive(tab-land) {
      width: 100%;
    }
  }


  &__item {
    display: inline-block;
    transition: all .3s;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &:hover {
      transform: scale(1.1) rotateZ(5deg);
      box-shadow: 0 1.5rem 1rem rgba($color-black, .1);
    }
  }

  &__link {
    color: $color-gray-light-1;
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: uppercase;


  }

  &__text {
    color: $color-gray-light-1;
    font-size: $default-font-size;
    line-height: 1.7;

  }

  &__item:hover &__link {
    color: $color-primary-light;
  }

  &__copyright {
    width: 100%;
  }

}