.navigation {

  &__checkbox {
    display: none;
  }

  &__toggle-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 7rem;
    width: 7rem;
    background: $color-white;
    border-radius: 50%;
    box-shadow: 1px 1px 3px rgba($color-black, .15);

    position: fixed;
    right: 6.5rem;
    top: 7rem;
    z-index: 200;

  }

  &__background {
    background-image: radial-gradient($color-primary, $color-primary-dark);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: fixed;
    right: 7.5rem;
    top: 8rem;
    z-index: 100;

    //transform: scale(200);
    transition: all 0.8s cubic-bezier(0.24, -0.14, 0.63, 1.22);

  }

  &__box {
    position: fixed;
    opacity: 0;
    left: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 150;
    transition: all .8s;
  }

  &__list {
    list-style: none;
    text-align: center;
  }

  &__item {
    margin-bottom: .5rem;
    padding: 1.5rem 1rem;
    padding-right: 3rem;
    display: block;

    // animation start here
    background-image: linear-gradient(120deg, transparent 50%, $color-white 50%);
    background-size: 220%;
    transition: all .4s;
    backface-visibility: hidden;
  }

  &__item:hover {
    // take full width of element
    background-position: 100%;
  }


  &__link {
    font-size: 3.5rem;
    text-decoration: none;
    color: $color-white;
    font-weight: 300;
    transition: all .4s;
    display: inline-block;

    span {
      margin-right: 2rem;
    }


  }

  &__item:hover &__link {
    color: $color-primary;
    transform: translateX(1rem);
  }

  &__checkbox:checked ~ &__box {
    opacity: 1;
    left: 50%;
  }

  &__checkbox:checked ~ &__background {
    transform: scale(100);
  }


}