.card {
  perspective: 150rem;
  height: 50rem;
  position: relative;

  &__slide {
    height: 50rem;
    transition: transform .6s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 3rem 6rem rgba($color-black, 0.15);


    &--front {
      &--1 {
        background: $color-white;
      }
    }

    &--back {
      transform: rotateY(180deg);

      &--1 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }
    }
  }

  &:hover &__slide--front {
    transform: rotateY(180deg);
  }

  &:hover &__slide--back {
    transform: rotateY(0deg);
  }
}