.form {

  &__group:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__input {
    display: block;
    padding: 1.6rem;
    width: 90%;
    border: 0;
    font-size: 1.6rem;
    font-family: inherit;
    color: $color-gray-dark-2;
    border-bottom: 3px solid transparent;
    transition: all .4s ease;
    border-radius: 3px;
    background: $color-white;

    &:focus {
      outline: none;
      box-shadow: 0 3rem 6rem rgba($color-black, .1);


      &:valid {
        border-bottom: 3px solid $color-primary-light;
      }

      &:invalid {
        border-bottom: 3px solid $color-secondary-dark;
      }
    }

    &::placeholder {
      color: inherit;
    }
  }

  &__label {
    display: block;
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
    font-weight: 700;
    transition: all .4s ease;

  }

  &__input:placeholder-shown + &__label {
    transform: translateY(-4rem);
    opacity: 0;
    visibility: hidden;
  }

  &__radio-group {
    display: flex;
    gap: 4rem;
    align-items: center;
    font-size: $default-font-size;

    @include responsive(phone){
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }
  }


  &__radio-input {
    display: none;
  }


  &__radio-btn {
    width: 3rem;
    height: 3rem;
    border: 5px solid $color-primary-light;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    flex-direction: row;
    transform: translateY(.7rem);
    margin-right: .5rem;


    &::after {
      content: "";
      background: $color-primary-light;
      width: 1rem;
      height: 1rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      opacity: 0;
      visibility: hidden;
      transition: opacity .3s;
    }
  }

  &__radio-input:checked + &__radio-label &__radio-btn::after {
    opacity: 1;
    visibility: visible;
  }


}