.hamburger-menu {
  display: inline-block;
  position: relative;
  backface-visibility: hidden;
  user-select: none;

  .top,
  .middle,
  .bottom {
    display: block;
    width: 35px;
    height: 2px;
    background: $color-gray-dark-3;
    transition: all .2s;
  }

  span:not(:last-child) {
    margin-bottom: 7px;
  }

  &.open {
    .top {
      position: absolute;
      top: 3px;
      transform: rotate(-135deg);
    }

    .bottom {
      position: absolute;
      top: 3px;
      transform: rotate(135deg);
    }

    .middle {
      opacity: 0;
      background: $color-white;
    }
  }

  &:hover {
    span:not(:last-child) {
      margin-bottom: 9px;
    }

  }

}
