body {
  font-family: Lato, sans-serif;
  color: $color-gray-dark;
  padding: 3rem;
}


.heading-primary {
  color: $color-white;
  font-weight: 400;
  text-transform: uppercase;
  /* to remove backward shades */
  backface-visibility: hidden;
  font-size: 1.6rem;


  /* Setting the font size, letter spacing, line height, animation name, duration, timing function, iteration count, and
  delay. */
  &--main {
    display: block;
    font-size: 6rem;
    letter-spacing: 3.2rem;
    line-height: 1.6;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    /*animation-iteration-count: 3;*/
    /*animation-delay: 3s;*/
  }

  &--sub {
    display: block;
    font-size: 1.8rem;
    letter-spacing: 1.5rem;
    font-weight: 700;
    margin-bottom: 4.8rem;

    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .3s;
  letter-spacing: 2px;

  &:hover {
    transform: scale(1.1) skew(10deg, 3deg);
    text-shadow: .5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: bold;
}

.paragraph {
  line-height: 1.8;
  font-size: $default-font-size;
  letter-spacing: .3px;

  &:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
