// text

.text-lg {
  font-size: 1.8rem;
}

.text-white {
  color: $color-white !important;
}

.text-center {
  text-align: center;
}

// spacing


.mt-md {
  margin-top: 4rem;
}

.mt-lg {
  margin-top: 8rem;
}


.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 4rem;
}

.mb-lg {
  margin-bottom: 8rem;
}

