.section-about {
  background: $color-gray-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  background-image: linear-gradient(to right bottom, rgba($color-primary, 0.8), rgba($color-primary-light, 0.8)),
  url("../img/nat-4.jpg");
  background-size: cover;
  padding: 20rem 0;
  transform: skewY(-7deg);
  margin-top: -10rem;

  // &  > .row -> remove skew
  & > * {
    transform: skewY(7deg);
  }
}


.section-tours {
  padding: 25rem 0 15rem 0;
  background: $color-gray-light-1;
  margin-top: -10rem;
}